<section ng-controller="AboutController">
	<div>
		<div class="banner">
			<div class="banner-background" style="background-color: #000">
			</div>
			<div class="banner-left">
				<div class="vertical-middle-text">
					<span class="other-title">About</span>
				</div>
			</div>
		</div>
		<article class="about">
			<div class="about-text">
				<div class="about-name">Junyoung Clare Jang</div>
				<div class="about-title" ng-repeat="subject in subjects">
					{{ subject.title }}
					<div class="about-entry" ng-repeat="entry in subject.entries">
						-
						<div>
							<span>{{ entry }}</span>
						</div>
					</div>
				</div>
			</div>
			<img src="image/about-profile.png">
		</article>
	</div>
</section>
