@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=block);

* {
  margin: 0;

  box-sizing: border-box;

  padding: 0;
}

html {
  width: 100vw;
}

body {
  margin: 0;

  width: 100vw;

  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
