@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=block);

* {
  margin: 0;

  padding: 0;
}

body {
  margin: 0 auto;

  width: 100%;

  overflow-y: scroll;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}

img {
  pointer-events: none;
  user-select: none;
}
